@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);


*{
  font-family: 'Cormorant';
}
:root{
  --back:"black";
  --text:"#ffffff"
}
a{
  text-decoration: none;
}
.p_com{
  color: #ffffff
}
.cormorant{
  font-family: Cormorant;
  color: goldenrod;
}
.opensans{
  font-family: Open Sans;
}
.simpleButton{
  border-radius: 5px;
  padding: 1rem;
  color: white;
  background: goldenrod;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  font-family: open sans;
}
html{
  scroll-behavior: smooth;
}